{% extends 'ZSIZizenBundle::firstPageLayout.html.twig' %}

{% block title %}
  Přidání lokace
{% endblock %}

{% block content %}
<h3>Přidání nové lokace</h3>
<form action="{{ path('ZSIZizenBundle_addLocation')}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" value="Přidat lokaci" />
</form>
{% endblock %}
