{% extends 'ZSIZizenBundle::layout.html.twig' %}

{% block title %}
  Vytvoření účtu
{% endblock %}

{% block content %}
<h3>Vytvoření účtu</h3>
<form action="{{ path('ZSIZizenBundle_registration')}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" value="Vytvořit účet" />
</form>
{% endblock %}
