{% extends 'ZSIZizenBundle::firstPageLayout.html.twig' %}

{% block title %}
  Vytvoření účtu
{% endblock %}

{% block content %}
<div id='content'>
<h3>Úprava filtrů</h3>
<form action="{{ path('ZSIZizenBundle_editFilters')}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" value="Upravit filtry" />
</form>
</div>
{% endblock %}
