{% extends 'ZSIZizenBundle::firstPageLayout.html.twig' %}

{% block title %}
  Výběr defaultní lokace
{% endblock %}

{% block content %}
<h3>Přidání nové lokace</h3>
<form action="{{ path('ZSIZizenBundle_selectDefaultLoc')}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" value="Vybrat lokaci" />
</form>
{% endblock %}
