{% extends 'ZSIZizenBundle::layout.html.twig' %}

{% block title %}
  Nastavení žízně
{% endblock %}

{% block content %}
<h3>Nastavení žízně</h3>
<form action="{{ path('ZSIZizenBundle_setThirst')}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" value="Nastavit žízeň" />
</form>
{% endblock %}
