{% extends 'ZSIZizenBundle::layout.html.twig' %}
{% block title %}
  Přihlášení
{% endblock %}

{% block content %}
  <h2>Přihlášení</h2>
  {% if error %}
    <div>{{ error.message }}</div>
  {% endif %}
 
  {# data odesíláme na login_check #}
  <form action="{{ path('login_check') }}" method="post">
    <label for="username">Uživatelské jméno:</label>
    {# pro správnou funkci se musí parametry poslané na login_check jmenovat _username a _password #}
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
 
    <label for="password">Heslo:</label>
    <input type="password" id="password" name="_password" />
 
    <input type="submit" name="login" />
  </form>
{% endblock content %}
